.nav-link {
    color: #333;
    transition: color .5s ease;
  }
  
  .nav-link:hover, .nav-link:focus {
    color: #007bff;
  }
  
  .dropdown-menu {
    border-radius: 0;
    background-color: #f8f9fa;
  }
  
  .dropdown-item {
    color: #007bff;
    transition: color .5s ease, background-color .5s ease;
  }
  
  .dropdown-item:hover, .dropdown-item:focus {
    color: #fff;
    background-color: #007bff;
  }
  